<div class="header">
  <div class="width">
    <div class="header_inner">
      <a title="Back" class="back-logo"><i class="icon-left"></i></a>
      <a href="/" title="DaftSex" class="logo">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="55.000000pt" height="50.000000pt"
          viewBox="0 0 311.000000 127.000000" preserveAspectRatio="xMidYMid meet">
          <g transform="translate(0.000000,180.000000) scale(0.100000,-0.100000)" fill="#dd3333" stroke="none">
            <path d="M895 1713 c-142 -78 -362 -148 -559 -178 -54 -9 -102 -18 -107 -21
-14 -8 -10 -228 5 -354 36 -284 110 -501 235 -692 110 -167 280 -320 442 -398
l46 -23 54 27 c149 75 311 216 408 356 59 84 131 221 168 320 35 92 79 287 93
410 12 101 18 346 8 355 -2 2 -49 11 -104 19 -215 33 -424 99 -578 184 l-51
29 -60 -34z m15 -818 l0 -636 -45 31 c-128 88 -246 229 -327 390 -86 171 -148
427 -148 612 0 72 2 78 23 83 209 46 339 85 447 134 25 11 46 21 48 21 1 0 2
-286 2 -635z m197 592 c99 -40 258 -87 343 -102 79 -14 74 -4 67 -133 -4 -63
-11 -120 -16 -125 -5 -5 -38 -6 -83 -1 l-73 9 3 46 3 45 -63 13 c-35 6 -75 14
-90 18 l-28 5 0 -95 c0 -81 3 -96 18 -102 9 -3 81 -9 160 -12 78 -3 142 -10
142 -15 0 -14 -39 -155 -61 -221 -35 -101 -118 -253 -188 -340 -65 -79 -226
-221 -242 -212 -8 5 -12 501 -5 514 3 4 43 2 90 -3 l85 -9 3 -41 3 -41 37 65
c59 105 64 96 -61 104 -61 3 -122 11 -136 16 l-25 10 0 325 c0 179 2 325 4
325 2 0 53 -20 113 -43z" />
            <path d="M628 1242 c-79 -19 -78 -15 -53 -153 18 -102 51 -201 98 -294 69
-137 66 -145 67 178 l0 287 -22 -1 c-13 -1 -53 -9 -90 -17z" />
          </g>
        </svg>
      </a>
      <form class="search-form">
        <input type="text" id="q" placeholder="Search millions of videos..." [(ngModel)]="keyword"
          [ngModelOptions]="{standalone: true}" (change)=" onChangeKeyword()">
        <button type="submit" title="Search button">Search</button>
        <div class="head-menu"></div>
      </form>
      <div class="item">
        <div class="head-menu module-browse"><a href="/newest">Newest</a></div>
        <div class="head-menu module-categories"><a href="/categories">Category</a></div>
        <div class="head-menu module-pornstars"><a href="/pornstars">Pornstars</a></div>
        <div class="head-menu"><a href="https://cumshotxx.com/" target="_blank" rel="nofollow" style="color: #000;">Best
            Porn Sites</a></div>
      </div>



      <button class="btn-search" type="button"><i class="icon-left"></i></button>
      <span class="hide-item">

        <a href="/pornstars"><span class="btn-pornstars"></span></a>
        <a href="/categories"><span class="btn-catt"></span></a>
        <a href="/hottest"><span class="btn-hottest"></span></a>
        <a href="/browse"><span class="btn-browse"></span></a>
      </span>

    </div>
  </div>
  <div id="progress_content"></div>
  <div class="suggest_search">
    <div class="suggest_inner width">
      <ul class="suggest_items"></ul>
    </div>
  </div>
</div>
