<app-header></app-header>
<div class="content-wrapper" id="content">
  <div class="bg_width">
    <div class="width">
      <input type="hidden" name="nofast" />
      <div class="tagbar">
        <a (click)="detailCategory(category.code)" class="hh" *ngFor="let category of categories">{{category.name}}</a>
      </div>
      <div class="video">
        <a class="standalonead" style="font-size: 14px; font-weight: bold;color:#0a0a0a; text-align: center;"
          href="https://landing.brazzersnetwork.com/?ats=eyJhIjoyOTIyOTcsImMiOjU3NzAzNTQ4LCJuIjoxNCwicyI6OTAsImUiOjg4MDMsInAiOjU3fQ=="
          target="_blank" rel="nofollow">
          <div class="message-container"
            style="background-color:#ffd001;padding: 7px;font-size: 17px;font-weight: 700;">
            <span class="nomobile"><span style="color:rgba(255, 208, 1)"></span><span
                style="color:rgba(255, 208, 1)"><span></span></span></span>
          </div>
        </a>
        <div style="background:#000000;outline: 0px solid #fff;" class="frame_wrapper">
          <video width="100%" height="100%" controls [src]="video.link" frameborder="0" allowfullscreen=""
            style="border: 0px; overflow: hidden; margin-bottom: -5px;">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="video_info_wrapper">
          <h1 class="heading">{{video.name}}</h1>
          <div class="voting-module video-watch">
            <span class="icon-container">
              <span class="icon icon1"></span>
              <span class="icon icon2 hidden-vote"></span>
            </span>
            <span class="text-container">
              <span class="text text1">5</span>
              <span class="text text2">5</span>
            </span>
          </div>
          <div class="video_fav" alt="To favorites" title="To favorites"
            onclick="Fav.Toggle(this, '-201904425_456245161', '63f977e334e6ee6e591f3b0c88684310');"></div>
          <div class="video_embed" title="Share" onclick="Embed.show(-201904425, 456245161);"></div>
          <div class="main_share_panel">
            <div id="addthis_sharing_toolbox">
              <div class="share_btn share_btn_re"><span class="re_icon"></span></div>
              <div class="share_btn share_btn_fb"><span class="fb_icon"></span></div>
              <div class="share_btn share_btn_tw"><span class="tw_icon"></span></div>
              <div class="share_btn share_btn_vk"><span class="vk_icon"></span></div>
            </div>
          </div>
          <div class="clear"></div>
          <div style="border-top: 2px solid #f0f0f0;">
            <br> <br>Description: <p [innerHtml]="video.description"></p>
            Published: {{video.createdAt | date:'short'}}
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
