<div class="videos">
  <div class="heading headingsr">
    <div class="breadcrumb"><span>
        <h1 style="padding-top: 0px;">{{title}}</h1>
      </span></div>
    <div class="fl_r">
      <span title="LiteOpen" class="liteopen_btn fl_l" style="cursor: context-menu;"><span
          class="liteopen"></span></span>
      <span class="hd_btn fl_l">
        <div class="ui_checkbox"><input type="checkbox" id="hd" value="1"><label for="hd" style="cursor: context-menu;"
            class="hd_btn2">&nbsp;Only
            HD</label></div>
      </span>
      <span class="rating_btn fl_l" *ngFor="let order of orders"><button
          (click)="changeOrder(order)">{{order.name}}</button></span>
    </div>
  </div>
  <div class="movie">
    <div class="movie-wrapper">
      <div class="video-item video-206547207_456239228" *ngFor="let movie of movies" data-video="movie.thumb">
        <a [href]="movie.code">
          <div class="video-fav" data-hash="66f74c0279d3d108d7a9a9684b9de705"></div>
          <div class="video-img">
            <img [src]="movie.thumb" />
            <div class=" video-thumb lazy">
            </div>
            <div class="video-play"></div>
            <div class="video-preview"></div>
            <div class="video-info">
              <span class="video-date">{{movie.createAt | date :'short'}}</span>
              <span class="video-view">{{movie.viewCount |view}}</span>
              <span class="video-time">{{movie.duration}}</span>
            </div>
          </div>
          <div class="video-title">{{movie.name}}</div>
        </a>
      </div>
    </div>

    <div class="movie-pagination">
      <ul class="pagination">
        <li *ngIf="page.pageIndex!==1" (click)="previous()"><a title="Previous page">
            << Previous</a>
        </li>
        <li *ngFor="let page of pages" (click)="changePage(page)" [ngClass]="page.isActive? 'active':''">
          <a>{{page.pageIndex}} </a>
        </li>
        <li><a *ngIf="page.pageIndex!==pages.length" (click)="next()" title="Next page">Next »</a></li>
      </ul>
    </div>

  </div>

</div>
