<app-header></app-header>
<div class="content-wrapper" id="content">
  <input type="hidden" name="nofast" />
  <div class="tagbar">
    <a (click)="detailCategory(category.code)" class="hh" *ngFor="let category of categories ">{{category.name}}</a>
  </div>
  <app-movie-list [pornstarCode]='pornstarCode' title="The Best Videos For {{pornstar.name}} "></app-movie-list>
</div>
<app-footer></app-footer>
