<div class="page_wrapper">
  <app-header></app-header>
  <div class="bg_width">
    <div class="width">
      <div class="content-wrapper" id="content">
        <input type="hidden" name="nofast" />
        <div class="tagbar">
          <a (click)="detailCategory(category.code)" class="hh"
            *ngFor="let category of categories">{{category.name}}</a>
        </div>
        <h1 class="pornstars_found">The Most Popular Pornstars</h1>
        <div class="pornstars_wrapper">
          <div class="pornstar" *ngFor="let pornstar of pornstars | slice: 0:max">
            <a (click)="detailPornstar(pornstar.code)">
              <div class="img female">
                <img [src]="pornstar.thumbs?pornstar.thumbs[0]:null" alt="">
              </div>
              <span>{{pornstar.name}}</span>
            </a>
          </div>
          <div class="more" data-page="1" (click)="showMore()">Show more</div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
