<app-header></app-header>
<div class="content-wrapper" id="content">
  <input type="hidden" name="nofast" />
  <div class="tagbar">
    <a (click)=" detailTag(tag.code)" class="hh" *ngFor="let tag of tags ">{{tag.name}}</a>
  </div>
  <style>
    .video-item>a>div.video-img>img {
      width: 105%;
    }

    @media screen and (max-width: 566px) {
      .video-item>a>div.video-img>img {
        width: 100%;
      }

      .categories_wrapper {
        margin: -8px;
        margin-top: 0px;
      }
    }

    .categories_thumbs img {
      display: block;
      width: 184px;
    }
  </style>
  <div class="width">
    <div class="videos">
      <div class="video_categories">
        <h1 class="ico ico_ugc_adult">Choose Category</h1>
      </div>
      <div class="categories_wrapper">
        <div class="video-item" *ngFor=" let category of categories">
          <a (click)="detailCategory(category.code)" href="javascript:void(0)">
            <div class="video-img">
              <img [src]="category.thumb" alt="">
            </div>
            <div class="video-title">{{category.name}}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
