<app-header></app-header>
<div class="content-wrapper" id="content">
  <input type="hidden" name="nofast" />
  <div class="tagbar">
    <a (click)=" detailTag(tag.code)" class="hh" *ngFor="let tag of tags ">{{tag.name}}</a>
  </div>
  <app-movie-list [category]='category' title="The Best Videos For {{category.name}} "></app-movie-list>
</div>
<app-footer></app-footer>
