<app-header></app-header>
<div class="bg_width">
  <div class="width">
    <div class="content-wrapper" id="content">
      <input type="hidden" name="nofast" />
      <div class="tagbar">
        <a (click)="detailCategory(category.code)" class="hh" *ngFor="let category of categories">{{category.name}}</a>
      </div>
      <div></div>
      <app-movie-list title="New Porn Updates"></app-movie-list>
      <div class="rightbar"></div>
    </div>
  </div>
</div>
<app-footer></app-footer>
