<app-header></app-header>
<div class="content-wrapper" id="content">
  <input type="hidden" name="nofast" />
  <div class="tagbar">
    <a class="hh" (click)="detailCategory(category.code)" *ngFor="let category of categories ">{{category.name}}</a>
  </div>
  <app-movie-list [tag]='tag' [title]='tag.name' title="The Best Videos For {{tag.name}} "></app-movie-list>
</div>
<app-footer></app-footer>
