<div class="footer">
  <div class="width">
    <div class="now">
      <b>You might be interested</b>
      <span><a (click)="detailTag(tag.code)" *ngFor="let tag of tags">{{tag.name}}</a> </span>
    </div>
    <div class="clear"></div>
    <div class="copy">
      <a href="/">DaftSex</a>
      <a href="/newest">Newest</a>
      <a href="/categories">Category</a>
      <a href="/pornstars">Pornstars</a>
      <a href="/holders">DMCA</a>
      <a href="/privacy">Privacy</a>
      <a href="/faq">FAQ</a>
      <a href="/contact">Contact Us</a>
      <a href="https://teen16x.com/" target="_blank" title="Start search Page for DaftSex">DaftSex Search</a>
      <a href="https://cumshotxx.com/" target="_blank" rel="nofollow" style="font-weight: bold;">Best Porn
        Sites</a>
      <a href="/" target="_blank" class="twitter font-weight-bold"
        style="background: #01abf1 url(/img/twitter.png) no-repeat scroll center center;border-radius: 25px;color: transparent;background-size: 27px;"><i
          class="icon-twistter"></i>Twitter</a>
    </div>
  </div>
</div>
